*,
html {
  margin: 0;
  padding: 0;
}

.container {
  
}
.Container-Navbar {
  background-color: rgb(4, 110, 0);
  width: 100%;
  height: 10vh;
}
.ul-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.li-navbar {
  padding: 10px;
  color: rgb(255, 255, 255);
  margin: 2px;
  list-style-type:none;
  font-size: 15px;
}
.li-navbar:hover{
  background-color: black;
  transition: .5s ease-in-out;
  border-radius: 8px;
}
.a-navbar{
  color: aliceblue;
  text-decoration: none;
}
.img-content {
  width: 150px;
  height: 150px;
}
.container-content1 {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 253, 0);
  height: 10vh;
  
}
.h1-footer {
  font-size: 30px;

}
/* Match html */

.tiket {
  background-color: rgb(4, 110, 0);
  width: 100%;
  height: 10vh;
}
.ulmatch-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.a-match-navbar {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.limatch-navbar {
  padding: 10px;
  color: aliceblue;
  margin: 2px;
  list-style-type: none;
  font-size: 15px;
}
.limatch-navbar:hover {
  background-color: black;
  transition: .5s ease-in-out;
  border-radius: 8px;

}
.match {
  background-color: rgb(249, 246, 246);
  height: 90vh;
  color: rgb(4, 110, 0);
}
.img{
  width: 100px;
  height: 100px;
}
.img-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul1{
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.li1{
  color: aliceblue;
}
/* tiket html */
.official{
  background-color: rgb(4, 110, 0);
  height: 100vh;
  width: 100vh;
  display: flex;
justify-content: center;
align-items: center;
}
.ul2{
background-color: rgb(4, 110,0);
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
.a2{
  color: rgb(255, 255, 255);
  text-decoration: double;
}
.ul2:hover{
  background-color: black;
  transition: .5s ease-in-out;
  border-radius: 8px;
}
/* profile html */

.profile{
  background-color: rgb(4, 110, 0);
  height: 100vh;
}
.h1-profile{
  color: aliceblue;
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ig{
  height: 15vh;
  color: rgb(0, 0, 0);
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
}
.ig:hover{
  background-color: rgb(255, 255, 255);
  transition: .5s ease-in-out;
  border-radius: 8px;
}